@import "_Reset";
@import "_Media";

/**
 * varable
 */

/**
 * mixin
 */
@mixin transform($what){
	transform:$what;
	-webkit-transform:$what;
	-moz-transform:$what;
	-o-transform:$what;
	-ms-transform:$what;
};
@mixin transition($what){
	transition:$what;
	-webkit-transition:$what;
	-moz-transition:$what;
	-o-transition:$what;
	-ms-transition:$what;
};
@mixin prefix($name,$value){
	#{$name} : $value;
	-webkit-#{$name} : $value;
	-moz-#{$name} : $value;
	-o-#{$name} : $value;
	-ms-#{$name} : $value;
};
@mixin width_height($width:100%,$height:auto){
	width:$width;
	height:$height;
};

@mixin _Base(){
	.hide{
	  display: none;
	};
	.block, .show{
	  display: block;
	};
	.flex{
		display: flex;
	}
	.block{
		display: block;
	};
	.inline-block{
		display: inline-block;
		vertical-align: middle;
	};
	.border-box{
		box-sizing: border-box;
	};
	.content-box{
		box-sizing: content-box;
	};
	.text-left{
	  text-align: left;
	};
	.text-right{
	  text-align: right;
	};
	.text-center{
	  text-align: center;
	};
	.text-justify{
	  text-align: justify;
	};
	.text-break{
	  overflow-wrap: break-word;
	};
	.text-nowrap{
		overflow: hidden;
		text-overflow: ellipsis;
	  white-space: nowrap;
	};
};

/**
 * placeholder
 */
%resetFont{
	font:{
		size: 16px;
		family:'Microsoft YaHei','Arial','Helvetica','Tahoma';
	}
};