@media only screen and (min-width: 320px), only screen and (min-device-width: 320px){
  html,body{
    font:{
      size: 50px
    }
  }
}
@media only screen and (min-width: 360px), only screen and (min-device-width: 360px){
  html,body{
    font:{
      size: 55px
    }
  }
}
@media only screen and (min-width: 375px), only screen and (min-device-width: 375px){
  html,body{
    font:{
      size: 57px
    }
  }
}
@media only screen and (min-width: 400px), only screen and (min-device-width: 400px){
  html,body{
    font:{
      size: 60px
    }
  }
}
@media only screen and (min-width: 414px), only screen and (min-device-width: 414px){
  html,body{
    font:{
      size: 62px
    }
  }
}
@media only screen and (min-width: 480px), only screen and (min-device-width: 480px){
  html,body{
    font:{
      size: 65px
    }
  }
}
@media only screen and (min-width: 540px), only screen and (min-device-width: 540px){
  html,body{
    font:{
      size: 68px
    }
  }
}
@media only screen and (min-width: 600px), only screen and (min-device-width: 600px){
  html,body{
    font:{
      size: 70px
    }
  }
}
@media only screen and (min-width: 640px), only screen and (min-device-width: 640px){
  html,body{
    font:{
      size: 73px
    }
  }
}
@media only screen and (min-width: 720px), only screen and (min-device-width: 720px){
  html,body{
    font:{
      size: 76px
    }
  }
}
@media only screen and (min-width: 800px), only screen and (min-device-width: 800px){
  html,body{
    font:{
      size: 79px
    }
  }
}
@media only screen and (min-width: 960px), only screen and (min-device-width: 960px){
  html,body{
    font:{
      size: 82px
    }
  }
}