{
	"presets": [
		[
			"env",
			{
				"targets": {
					"browsers": ["last 2 versions", "ie >= 7"],
					"esmodules": true,
				}
			}
		], "stage-3"
	],
	"plugins": [
		"transform-async-to-generator",
		"transform-runtime",
	]
}
