{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"browsers": ["last 2 versions", "ie >= 7"],
					"esmodules": true,
				}
			}
		]
	],
	"plugins": [
		"@babel/transform-async-to-generator",
		"@babel/plugin-transform-runtime",
	]
}
