<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- <meta http-equiv="expires" content="Wed, 20 Jun 2019 22:33:00 GMT" /> -->
    <!-- <meta http-equiv="Cache-control" content="max-age=7200" /> -->
    <!-- <meta http-equiv="Cache" content="public" /> -->
    <title>demo</title>
  </head>
  <body>
    <div id="app">
    	<transition name="fade">
        <router-view></router-view>
      </transition>
    </div>
    <script src="./dist/js/app.js"></script>
  </body>
</html>
